-- MariaDB dump 10.19  Distrib 10.4.28-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: metelebrasil
-- ------------------------------------------------------
-- Server version	10.4.28-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `servicio`
--

DROP TABLE IF EXISTS `servicio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `servicio` (
  `idServicio` int(22) NOT NULL AUTO_INCREMENT,
  `idCategoria_servicio` int(22) DEFAULT NULL,
  `nombre_servicio` varchar(100) DEFAULT NULL,
  `descripcion_servicio` varchar(5000) DEFAULT NULL,
  `operador_alta` int(22) NOT NULL,
  `fechaAlta` timestamp(6) NOT NULL DEFAULT current_timestamp(6),
  `descripcion_corta` mediumtext NOT NULL,
  `observaciones` varchar(5000) NOT NULL,
  `documentacionViajero` varchar(2500) NOT NULL,
  `cancelaciones` int(10) NOT NULL,
  `idPrestador` int(11) NOT NULL,
  `idTextoMiniaturas` int(11) NOT NULL,
  `orden` int(11) DEFAULT NULL,
  `habilitado` int(11) DEFAULT NULL,
  `idOrigen` int(11) NOT NULL,
  `idDestino` int(11) NOT NULL,
  `destacado` int(11) NOT NULL,
  `nombre_servicio_en` varchar(50) DEFAULT NULL,
  `nombre_servicio_pt` varchar(50) DEFAULT NULL,
  `nombre_servicio_it` varchar(50) DEFAULT NULL,
  `descripcion_servicio_en` text DEFAULT NULL,
  `descripcion_servicio_pt` text DEFAULT NULL,
  `descripcion_servicio_it` text DEFAULT NULL,
  `descripcion_corta_en` text DEFAULT NULL,
  `descripcion_corta_pt` text DEFAULT NULL,
  `descripcion_corta_it` text DEFAULT NULL,
  `observaciones_en` text DEFAULT NULL,
  `observaciones_pt` text DEFAULT NULL,
  `observaciones_it` text DEFAULT NULL,
  `documentacionViajero_en` text DEFAULT NULL,
  `documentacionViajero_pt` text DEFAULT NULL,
  `documentacionViajero_it` text DEFAULT NULL,
  PRIMARY KEY (`idServicio`),
  KEY `idx_servicio_dest_hab_id` (`destacado`,`habilitado`,`idServicio`)
) ENGINE=InnoDB AUTO_INCREMENT=769 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `servicio`
--

LOCK TABLES `servicio` WRITE;
/*!40000 ALTER TABLE `servicio` DISABLE KEYS */;
/*!40000 ALTER TABLE `servicio` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-26 14:26:50
